/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body, figure, ul, li, h2, h3, h5, p{
  margin: 0;
  padding: 0;
  font-family: Roboto, snas-serif;
}
.container{
    max-width: 500px;
    width: 100%;
    padding-top: 130px; 
    margin: 0 auto;
}