body{
    margin: 0;
    padding: 0;
    width: 100%;
}
@import url('https://fonts.googleapis.com/css?family=Varela&display=swap');

#header{
  padding-top:0.2em;
  padding-bottom: 0.2em;
    height:274px;
   background-color:white;
    padding-bottom:3.3px;
    border:1px solid black;
   
}   
.section-container{
    background-color: black;
    padding-top:1.1em;
    border:1px solid black;
}

.contenedor-publicaciones{
    background-color:grey;
    height:19em;
    /*padding-top:0.1em;*/
    border:1px solid black;
}


/*p{
    padding: 5px 20px;
}*/ 
/** Iconos Nosotros **/
  .iconos-nosotros{
    display:flex;
}
.boton-publicacion1{
    margin-left:41em;
    width:8em;
    height:2.6em;
    background-color: black;
}
.boton-publicacion2{
    margin-left:6.8em;
    width:8em;
    height:2.6em;
    background-color: black;
}
.boton-publicacion3{
    margin-left:6.8em;
    width:8em;
    height:2.6em;
    background-color: black;
}
.boton-publicacion4{
    margin-left:6.8em;
    width:8em;
    height:2.6em;
    background-color: black;
}

/** Botones **/
#grid{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    }
img{
    width:9rem;
    background-color:black;
    padding:2em;
    height:9rem;
    object-fit: fill;
    object-position: center center;
    margin-bottom:-6px;
}
.caja-padre{
    border:1px solid black;
    display:block;
    
}
    
@media screen and (min-width: 321px){
    .navegacion{
        display:flex;
        margin-left:0.1em;
        margin-top:3em;
    }
    .navegacion a{
        margin-left:1.9em;
        color:black;
        font-size:1.3rem;
        font-family: 'Varela', sans-serif;
    }
.col2{
        margin-left:3em;
        margin-top:0.6em;
        font-size:2.6rem;
    }
    .col3{
        margin-left:7.3em;
         width:180px;
         height:30px;
    }
    .formulario__boton{
        text-align: center;
        color:white;
        background-color: black;
      font-size:2.1rem;
    }
    .fw-300{
        /*font-weight:300;*/
        font-size:1.8rem;
        padding-top:3px;
        color:white;
        
    }
    .centrar-texto{
        text-align:center;
    }
     .section-container p{
        color:white;
        font-size:29px;
        border:1px solid black;
        text-align:center;
        font-family: 'Varela', sans-serif;
        margin-left:3px;
     }
     .boton{
        background-color:white;
        color:black;
        border-radius:1em;
        align-items:center;
        text-align:center;
        font-size: 1.8rem;
        padding: 1rem 3rem;
        border:1px solid black;
        margin-bottom: 0px;
    }
    .boton-blanco{
        margin-left:2.5em;
    }
   #main-picture{
   
    display:flex;
    max-width:90%;
    margin:0 auto;
    margin-top:30px;
    }
    
    .contenedor-publicaciones h3{
        text-align:center;
        /*font-size:38px;*/
        font-size:1.9rem;
        padding-top:3px;
        
    }
    h3{
        margin-bottom: 3px;
        margin-top:3px;
    }
    .contenedor-publicaciones p{
        margin-left:3px;
        margin-top:20px;
        margin-bottom: 25px;
        /*font-weight:3rem;*/
        font-size:24px;
        text-align:center;
        /*padding:2rem;*/
        color:black;
        font-family: 'Varela', sans-serif;
    }
    .iconos-nosotros{
        display:flex;
        align-items: center;
        display:space-between;
        /*margin-left:2.5px;*/
        margin-bottom: 4px;
        padding:14px 4px 9px 1px;
        /*border:1px solid black;*/
    }
    .boton-publicacion1{
        margin-left:45px;
        width:4em;
        height:2.6em;
        background-color:black;
    }
    .boton-publicacion2{
        margin-left:45px;
        width:4em;
        height:2.6em;
        background-color: black;
    }
    .boton-publicacion3{
        margin-left:45px;
        width:4em;
        height:2.6em;
        background-color: black;
    }
    .boton-publicacion4{
        margin-left:45px;
        width:4em;
        height:2.6em;
        background-color: black;
    }
    
    .left, .right{
        display: flex;
        align-items: center;
        margin: 0 auto;
        max-width: 800px;
        border:1px solid black;
      }
    .figure {
       border:1px solid black;
       background-color:black;
       margin:0;
       padding:0;
       /*padding: 0 2rem;*/
    } 
    .left p{
        font-size:20px;
        width:50%;
    } 
   
    .right>figure{
        order: 2;
      
    }
    .right>p{
        order: 1;
    }
    .entrada-blog{
        height:1465px;
        background-color: grey;
    }
    .entrada-blog p{
        color:black;
        font-size:2.1rem;
        text-align:center;
        font-family: 'Varela', sans-serif;
        
     }
     .caja-padre{
         display:flex;
     }
    
     .caja{
         border:1px solid black;
         
     }
     .blackbox1{
        height:245px;
        width:397px;
         background-color:yellow;
         /*display:flex;*/
         text-align:center;
         
         border-radius:0.3em;
        }
        .blackbox2{
            height:245px;
            width:397px;
             background-color:red;
             /*display:flex;*/
             text-align:center;
             
             border-radius:0.3em;
            }
            .blackbox3{
                height:245px;
                width:397px;
                 background-color:blue;
                 /*display:flex;*/
                 text-align:center;
                
                 border-radius:0.3em;
                }
        .caja p{
        font-size:20px;
        text-align:center;
       
        }
        .small{
            font-size:15px;
            text-align:center;
            
        }
 .testimonial{
     border:1px solid black;
 }   
    




