<footer>
  <ul>
    <li>Participate</li>
    <li>Twitter</li>
    <li>Contact</li>
  </ul>
</footer>
const footer = document.createElement('footer') footer.innerText = "@2019"
body.appenChild(footer)
