<header>
  <h1>Devcommunity</h1>
  <nav id="Articulos">
    <ul></ul>
    <li><a href="#">Javascript</a></li>
    <li><a href="#">ES6</a></li>
    <li><a href="#">Frameworks</a></li>
  </nav>
  <nav id="Members">
    <ul></ul>
    <li><a href="#">Roberto</a></li>
    <li><a href="#">Jaime</a></li>
    <li><a href="#">Maria</a></li>
  </nav>
  <nav id="Videos">
    <ul></ul>
    <li><a href="#">katas</a></li>
    <li><a href="#">Cifrado Cesar</a></li>
    <li><a href="#">Integer</a></li>
  </nav>
</header>
