@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto+Mono&display=swap');
body,
header,
ul,
figure {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}
h1, h2, h3, h4, h5, h6{
font-family: 'Roboto Mono', monospace;
}
header,
footer {
  text-align: center;
  background-color: gray;
  padding: 1em 0;
}

nav {
  display: flex;
  width: 100%;
}
nav ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  list-style-type: none;
}
main {
  margin: 0 auto;
  border: 15px solid black;
}
.card {
  display: flex;
  border: 1px solid #eaeaea;
}
.post-preview-image {
  object-fit: fill;
  height: 180px;
  width: 270px;
  object-position: center center;
}
.card-description {
  padding-left: 1em;
  padding-top: 0.5em;
}
.user-description {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.user-description > * {
  padding-right: 0.5em;
}
.avatar {
  width: 30px;
}
.post {
  padding: 0 1em;
  width: 800px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.full-width {
  width: 100%;
}
.card-detail {
  display: flex;
  /*justify-content: center;
  margin: 0 auto;*/
}
.post-detail-image {
  border-radius: 29px;
}
.publication {
  display: block;
  font-size: 1.25em;
  margin-left: 5.9px;
}
.publication:nth-child(even) {
  font-size: black;
}
.login{
  max-width:400px;
  padding: 0 1rem;
  width: 100%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}
input, label{
  margin-bottom: 5px;
}
input{
  height: 1.875rem;
}
.submit{
  width: 120px;
  background-color: lightseagreen;
  color: white;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.1rem;
  margin-top: 10px;
}