<%- include('includes/header.ejs') %>
<main>
    
<form action="" method="get">
    <input type="email" name="" id=""placeholder="email">
    <input type="password" name="" id=""placeholder="password">
    <button type="submit">Enviar</button>
</form>
<iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3037.5888109937673!2d-3.7165006850148656!3d40.41795906348932!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd42287e7da4a9c1%3A0x2e7fec79d6ce4851!2sPalacio%20Real%20de%20Madrid!5e0!3m2!1ses!2ses!4v1569760245956!5m2!1ses!2ses"
    width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</main>

<%- include('includes/footer.ejs') %>