<%- include('includes/header.ejs') %>
<main>
  <form action="/login" method="POST" class="login">
    <label for="email">Email</label>
    <input type="email" name="email" id="email">
    <label for="password">Password</label>
    <input type="password" name="password" id="password">
    <button type="submit" class="submit">Ingresar</button>
  </form>
</main>

<%- include('includes/footer.ejs') %> 
